/* 
* @Author: anchen
* @Date:   2017-02-04 14:31:55
* @Last Modified by:   anchen
* @Last Modified time: 2017-02-04 14:31:57
*/
.search-result{
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width:195px;
  height: 20px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}
#search-box{
  width: 200px;
  height: 20px;
}