<h2>我的英雄列表</h2>
<div>
    <label>英雄名称：</label>
    <input #heroName />
    <button (click)="add(heroName.value);heroName.value='';">添加</button>
</div>
<ul class="heros">
    <li *ngFor="let hero of heroes"
    (click)="onSelect(hero)"
    [class.selected]="hero===selectedHero">
        <span class="badge">{{hero.id}}</span>
        <span>{{hero.name}}</span>
        <button class="delete" (click)="delete(hero);$event.stopPropagation()">X</button>   
    </li>
</ul>
<div *ngIf="selectedHero">
    <h2>
        {{selectedHero.name | uppercase}} 是我的英雄!
    </h2>
    <button (click)="gotoDetail()">显示详情</button>
</div>